body{
   background-color: #dcdfda;
}



header {
    background-color: #9F8082	;
    text-align: center;
    border: 2px solid rgb(92, 89, 89);
}

img {
    max-width: 200px;
    max-height: 220px;
    margin:auto;
    display:block;
}
h1{

    color:black ;
    font-family:Georgia, 'Times New Roman', Times, serif   
}
h6{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
 
    font-size:medium;
}


section > h2{
    background-color :  #9F8082;
    color : black;
    text-align: center;
    border: 2px solid rgb(92, 89, 89);
}

section > p{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
}
section > li{
    color :black;
    font-family:Georgia, 'Times New Roman', Times, serif
}

article > h2{
    background-color : #9F8082	;
    color:black;
    text-align: center;
    border: 2px solid rgb(92, 89, 89);
}

article >  h3{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif
}

footer {
    background-color:  #9F8082;
}

footer > p{
    
    color :black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

footer a{
    color : black;
}